

{% block stylesheets %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
h2{
    margin-right:70px;
}
.popup-container  {
    position: fixed;
    top: 10%;
    left: 20%;
    width: 60%; /* ou 1000px si tu veux, mais évite trop grand */
    max-height: 80vh; /* Limite à 80% de la hauteur de l’écran */
    background: #bbbb;
    padding: 20px;
    border: none;
    border-radius: 10px;
    overflow-y: auto; /* active le scroll interne */
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    z-index: 999;
    transition: all 0.3s ease;
    scroll-behavior: smooth;
}


</style>
{% endblock %}

{% block body %}

<h2 class="text-center mb-4">Ajouter un nouveau développeur</h2>
 
 {{ form_start(form, {'action': path('app_developpeur_new'), 'method': 'POST'}) }}

    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.email) }}
    {{ form_row(form.telephone) }}
     {{ form_widget(form.submit) }}
{{ form_end(form) }}


{% endblock %}

{% block scripts %}
<script>



</script>
{% endblock %}