<h2 class="modal-title text-info w-50 text-center mb-4">Ajouter un développeur</h2> 
 {{ form_start(form, {'action': path('app_developpeur_new'), 'method': 'POST'}) }}

    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.email) }}
    {{ form_row(form.telephone) }}
    {{ form_row(form.user, {'attr': {'class': 'form-select select2'}}) }}
    <div class="modal-footer ">
        {{ form_widget(form.Enregistrer, {'attr': {'class': 'btn btn-info'}}) }}
    </div>
{{ form_end(form) }}

{% block script %}
<script>
    $(document).ready(function() {
        $('.select2').select2();
    });
</script>
{% endblock %}
