{% if technologies is not empty %}
<div class="d-flex justify-content-center">
    <table class="table table-striped table-bordered ">
    <thead>
        <tr>
            <th>Nom  </th>
            <th>Version  </th>
            <th style="text-align:center;">Actions</th>
         </tr>
    </thead>
    <tbody>
        {% for technologie in technologies %}
                <tr>
                    <td>{{technologie.nom}}</td>
                    <td> {{technologie.version}}</td>                            

                <td style="text-align:center;">
                            <button type="button" class="btn btn-outline-secondary btn-rounded btn-icon update" title="modifier" data-id="{{ technologie.id }}" data-nom="{{ technologie.nom }}">
                                <i class="typcn typcn-edit text-infos"></i>
                            </button>
                            <button type="button" class="btn btn-outline-secondary btn-rounded btn-icon delete" title="supprimer" data-id="{{ technologie.id }}"data-nom="{{ technologie.nom }}">
                                <i class="mdi mdi-broom text-danger"></i>
                            </button>
                            <button type="button" class="btn btn-outline-secondary btn-rounded btn-icon show" title="plus d'informations" data-id="{{ technologie.id }}" data-nom="{{ technologie.nom }}">
                                <i class="mdi mdi-eye text-info"></i>
                            </button>
                    </td>
                </tr>
        {% endfor %}

                       
    </tbody>
</table>
</div>
{% else %}
    <div class="alert alert-warning">Aucune technologie  trouvé avec ce nom .</div>
{% endif %}
