 {{ form_start(form, {'action': path('app_technologie_update',{'id': technologies.id}), 'method': 'POST'}) }}
      {{ form_row(form.nom) }}
      {{ form_row(form.version) }}
      <div class="modal-footer ">
                {{ form_widget(form.Enregistrer, {'attr': {'class': 'btn btn-info'}}) }}
      </div>    
 {{ form_end(form) }}
            



                            
               

