{% if hebergements is not empty %}
<div class="d-flex justify-content-center">
    <table class="table table-striped table-bordered  ">
        <thead>
            <tr>
                <th>Fournisseur  </th>
                <th>Type  </th>
                <th>Url</th>
                <th style="text-align:center;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for hebergement in hebergements %}

            <tr>
                <td>{{hebergement.fournisseur}}</td>
                <td> {{hebergement.type}}</td>
                <td>{{hebergement.url}}</td>
                <td style="text-align:center;">
                            <button type="button" class="btn btn-outline-secondary btn-rounded btn-icon update" title="modifier" data-id="{{ hebergement.id }}" data-nom="{{ hebergement.fournisseur }}">
                                    <i class="typcn typcn-edit text-infos"></i>
                            </button>
                            <button type="button" class="btn btn-outline-secondary btn-rounded btn-icon delete" title="supprimer"  data-id="{{ hebergement.id }}" data-nom="{{ hebergement.fournisseur }}">
                                    <i class="mdi mdi-broom text-danger"></i>
                            </button>
                            <button type="button" class="btn btn-outline-secondary btn-rounded btn-icon show" title="plus d'informations" data-id="{{ hebergement.id }}" data-nom="{{ hebergement.fournisseur }}">
                                    <i class="mdi mdi-eye text-info"></i>
                            </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
     </table>
     </div>
{% else %}
    <div class="alert alert-warning">Aucun hebergement  trouvé avec ce nom du fournisseur .</div>
{% endif %}
