<h2 class="modal-title text-info w-50 text-center mb-4">Ajouter un hébergement</h2>
    {{ form_start(form, {'action': path('app_hebergement_new'), 'method': 'POST'}) }}
                                {{ form_row(form.fournisseur) }}
                                {{ form_row(form.type) }}
                                {{ form_row(form.dateExpiration) }}
                                {{ form_row(form.url) }}
        <div class="modal-footer ">
            {{ form_widget(form.Enregistrer, {'attr': {'class': 'btn btn-info'}}) }}
        </div>          
    {{ form_end(form) }}
     

