
{% block body %}
    {{ form_start(form, {'action': path('app_hebergement_update' ,{'id':hebergement.id}), 'method': 'POST'}) }}
        {{ form_row(form.fournisseur) }}

        {{ form_row(form.type) }}
        {{ form_row(form.url) }}
        {{ form_row(form.dateExpiration) }}
            <div class="modal-footer ">
                {{ form_widget(form.Enregistrer, {'attr': {'class': 'btn btn-info'}}) }}
            </div>                                
    {{ form_end(form) }}

                            
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $('.select2').select2();
        });
    </script>
{% endblock %}

                  
