

{% block stylesheets %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
h2{
    margin-right:70px;
}
.popup-container  {
    position: fixed;
    top: 10%;
    left: 20%;
    width: 60%; /* ou 1000px si tu veux, mais évite trop grand */
    max-height: 80vh; /* Limite à 80% de la hauteur de l’écran */
    background: #bbbb;
    padding: 20px;
    border: none;
    border-radius: 10px;
    overflow-y: auto; /* active le scroll interne */
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    z-index: 999;
    transition: all 0.3s ease;
    scroll-behavior: smooth;
}
.indice{

   display: flex;
    flex-direction: column;
    justify-content: center; /* Centrage vertical */
    align-items: center; /* Centrage horizontal */
    padding: 20px;
    margin-left: auto;  /* Centrage horizontal du bloc */
    margin-right: auto; /* Centrage horizontal du bloc */
    width: 80%; /* Largeur ajustable, ici 80% de la largeur de l'écran */

}
.input-group input {
    flex-grow: 1;
    margin-right: 10px; /* Espacement entre le champ et le bouton */
}
.btn-fw{
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

</style>
{% endblock %}

{% block body %}
                    <div class="indice"> 
                        <h2 class="text-center mb-4">Modifier un hébergement</h2>      
                            <br>
                                      {{ form_start(form, {'action': path('app_hebergement_update' ,{'id':hebergement.id}), 'method': 'POST'}) }}
                                {{ form_row(form.fournisseur) }}

                                {{ form_row(form.type) }}
                                {{ form_row(form.url) }}
                                {{ form_row(form.dateExpiration) }}
                                {{ form_widget(form.submit) }}
                            {{ form_end(form) }}

                        </div>
                            


                  


                 


           
               
        

{% endblock %}

{% block scripts %}
<script>



</script>
{% endblock %}
