{% extends 'base.html.twig' %}

{% block stylesheets %}
  <!-- base:css -->
  <link rel="stylesheet" href="{{ asset('vendors/typicons.font/font/typicons.css') }}">
  <link rel="stylesheet" href="{{ asset('vendors/css/vendor.bundle.base.css') }}">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{ asset('css/vertical-layout-light/style.css') }}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{{ asset('images/favicon.png') }}" />
{% endblock %}

{% block body %}
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center text-center bg-success">
        <div class="row flex-grow">
          <div class="col-lg-8 mx-auto text-white">
            <div class="row align-items-center d-flex flex-row">
              <div class="col-lg-6 text-lg-right pr-lg-4">
                <h1 class="display-1 mb-0">✅</h1>
              </div>
              <div class="col-lg-6 text-lg-left pl-lg-4">
                <h2>Succès</h2>
                <h4 class="font-weight-light">L'URL est accessible :</h4>
                <p><strong>{{ url }}</strong></p>
                <p class="mt-2">Code HTTP retourné : <strong>{{ status_code }}</strong></p>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12 text-center mt-xl-2">
                <a class="text-white font-weight-medium" href="{{ path('app_projets_index_main') }}">⬅ Retour à la liste des projets</a>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12 mt-xl-2">
                <p class="text-white font-weight-medium text-center">© {{ "now"|date("Y") }} Tous droits réservés.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('vendors/js/vendor.bundle.base.js') }}"></script>
  <script src="{{ asset('js/off-canvas.js') }}"></script>
  <script src="{{ asset('js/hoverable-collapse.js') }}"></script>
  <script src="{{ asset('js/template.js') }}"></script>
  <script src="{{ asset('js/settings.js') }}"></script>
  <script src="{{ asset('js/todolist.js') }}"></script>
{% endblock %}
